body{
    background-color: rgb(63, 131, 184);
    font-family: 'Poppins', sans-serif;
}
h1{
    text-align: center;
    font-weight: bold;
}
#login{
    position: absolute;
    width: 1200px;
    height: 800px;
    left: 350px;
    top: 90px;
    background-color: white;
}
.email{
    font-size: 30px;
    position: absolute;
    top: 150px;
    left: 250px;
}
.password{
    font-size: 30px;
    position: absolute;
    top: 350px;
    left: 250px;
}
p{
    font-size: 24px;
    position: absolute;
    top: 500px;
    left: 250px;
}
a{
    font-size: 24px;
    position: absolute;
    top: 500px;
    left: 700px;
}
.btn{
    position: absolute;
    top: 650px;
    left: 300px;
    width: 550px;
    height: 50px;
    background-color: rgb(63, 131, 184);
    border-radius: 30px;
    color: white;
}
.btn:hover{
    background-color:  rgb(22, 132, 216);
}