* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.8;
}
#AboutBajeti {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./assets/96843307-handwriting-announcement-text-showing-budget-planning-business-concept-for-financial-budgeting-writt.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
#AboutBajeti h1 {
    font-size: 60px;
    color: honeydew;
}
#AboutBajeti p {
    font-size: 25px;
    color: honeydew;
    text-align: center;
}
#AboutBajeti .button {
    font-size: 20px;
    text-decoration: none;
    color: honeydew;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    background:green;
}
#AboutBajeti .button:hover {
    color: honeydew;
    background: darkgreen;
}